/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    font-family: 'Montserrat', sans-serif;
    }
    
    .s4-app-img{
        max-width: 500px;
        margin-top: 5rem;
        height: auto; 
        max-height: 700px;
    }
    
    .section-4{
        display: flex;
        justify-content: space-between;
        background-color:#00B172;
        padding: 4rem 7rem;
        color: #fff;
        position: relative;
        max-width: 100%;    
    }
    
    .s4-header-hero{
        font-size: 2rem;
        padding: 0.5rem 0rem;
        margin-bottom: 2.5rem;
    }
    
    .s4-header-hero h2 {
        text-decoration: underline;
        text-underline-position: under;
        text-underline-offset: 0.9rem;
    }
    
    .s4-header{
        font-size: 2rem;
        margin:  1rem 0rem;
    }
    
    .s4-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -125px;
        margin-left: -100px;
    }
    
    .s4-icon img {
        width: 12rem;
    }
    
    .s4-text{
        font-size: 1.7rem;
        line-height: 3rem;
        width: 30rem;
    }
    
    @media screen and (max-width: 1350px)  {
        .section-4 {
            display: flex;
            flex-direction: column-reverse; 
            justify-content: center;
            align-items: center;       
            /* background-color: black; */
            text-align: center;
            position: static;
        }
        .s4-text{
            font-size: 1.7rem;
            line-height: 3rem;
            width: 50rem;
        }
        .s4-app-img {
            display: none;
        }
        .s4-icon{
                position:static;
                margin: 5rem ;
            }
    }
    
    @media screen and (max-width: 860px)  {
        .section-4 {
            display: flex;
            flex-direction: column-reverse; 
            justify-content: center;
            align-items: center;       
            /* background-color: black; */
            text-align: center;
            position: static;
        }
        .s4-text{
            font-size: 1.7rem;
            line-height: 3rem;
            width: 30rem;
        }
        .s4-app-img {
            display: none;
        }
        .s4-icon{
                position:static;
                margin: 5rem ;
            }
        .s4-header-hero{
            font-size: 1.5rem;
        }
    }
    


nav {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 80px;
}
  
  li {
    list-style-type: none;
  }
  .logo {
    float: left;
    width: 120px;
    height: 50px;
} 
  li a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .item-flex {
    color:white;
  }
  p{
    margin: 1px;
  }
.third-part{
    background: white;
}

.berfin-columns{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

.berfin-header {
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  
}

.berfin-columns h1{
    color:#00B172; 
  }

.berfin-box{
    display:flex;
    flex-direction:column;
    width: 200px;
    padding: 30px;
    margin-left: 30px;
    font-family: 'Montserrat'; 
    align-items: center;
    text-align: center;
  }

  


