/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 80px;
}
  
  li {
    list-style-type: none;
  }
  .logo {
    float: left;
    width: 120px;
    height: 50px;
} 
  li a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .item-flex {
    color:white;
  }
  p{
    margin: 1px;
  }


.berfin-columns{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

.berfin-header {
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  
}

.berfin-columns h1{
    color:#00B172; 
  }

.berfin-box{
    display:flex;
    flex-direction:column;
    width: 200px;
    padding: 30px;
    margin-left: 30px;
    font-family: 'Montserrat'; 
    align-items: center;
    text-align: center;
  }

  

